{% extends 'base.html' %}

{%block page-style %}
<style>
  .dropdown-menu.post-menu{
    margin-left:75px;
  }
  .dropdown-menu.search-menu{
    margin-left:-145px;
  }
</style>
{% endblock %}

    
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Let the public know!</h1>
        <p>Use the form below to search for a group of issues within JIRA. Then take the results and easily craft a release update to your user's Twitter group and GetSatisfaction.</p>
        <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->

		<form class="" role="search" onsubmit="search();return false;">
		<div class="row">
		  <div class="col-lg-8">

		    <div class="input-group">
		      	<input type="text" id="jql-search-str" class="form-control" placeholder="Enter your JIRA JQL Query" />

			      <span class="input-group-btn">
			        
			        <button class="btn btn-default" type="submit">Search</button>

			        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
			        	<span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu search-menu">
			          <li><a href="javascript://" onclick="populate_sz_api();">Socialize API Accepted Tickets</a></li>
			          <li><a href="javascript://" onclick="populate_sz_web();">Socialize Web Accepted Tickets</a></li>
			          <li class="divider"></li>
			          <li><a href="javascript://" onclick="clearResults();">Clear Results</a></li>
			        </ul>

			        
			      
			      </span><!-- input-group-btn -->
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-8 -->
		</div><!-- /.row -->
		</form>
      	
      	<div id="jql-error-query-message" class="alert alert-warning" ></div>
      
      </div><!-- container -->
    </div><!-- jumbotron -->

    <div class="container">
    	<h2>Issues <small></small></h2>

		<table id="issues" class="table table-striped table-hover">
			<thead>
				<td>Type</td>
				<td>ID</td>
				<td>Summary</td>
				<td>Publicize</td>
			</thead>
			<tbody>
			</tbody>
		</table>

		<div id="post-container" class="pull-right">
			<div style="height:50px;">
				<div id="post-release-error-message" class="alert alert-warning" style="width: 483px;" ></div>
			</div>



			<form role="form" class="form-inline" onsubmit="return false;">
				<div class="form-group">
					<span class="input-group-btn dropup">
          
            <input type="text" class="form-control" placeholder="Version ex: LAPI v2.2" id="release_name">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                Push Update
                <span class="glyphicon glyphicon-send"></span>
            </button>
            <ul class="dropdown-menu post-menu">
              <li><a href="javascript://" onclick="postIssuesToTwitterAndGetsat(this);">As @SocializeStatus Tweet</a></li>
              <li><a href="javascript://" onclick="postIssuesToEmail(this);">As Email</a></li>
              <li class="divider"></li>
              <li><a href="mailto:sean%40sharethis.com?subject=new%20account%20please%20JIRA-RNG">Add a New Post Method</a></li>
            </ul>
          </span>
				</div>
			</form>
		</div><!-- post conatiner -->

	</div><!-- container -->


{% endblock %}